html,

.fondo{
    background: url(../imagenes/fondo.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.fondogrado{
    background: url(../imagenes/fondo.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.fondoprimero{
     background: url(../imagenes/first.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
    font-family: 'Open Sans', sans-serif;
}

.fondosegundo{
     background: url(../imagenes/tia.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
    font-family: 'Open Sans', sans-serif;
}

.fondotercero{
    background: url(../imagenes/treses.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}
.fondocuarto{
    background: url(../imagenes/haha.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

.fondoquinto{
    background: url(../imagenes/tt.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

.sobre {
max-width:70%;
max-height:70%;
}
.zoom{
        transition: 1.5s ease;
        -webkit-transition: 1.5s ease; 
    }
 .zoom:hover{
        transform : scale(1.2);
        -webkit-transform : scale(1.2);          
    }


.texto{
	color: lime;
     -webkit-text-fill-color: yellowgreen;
-webkit-text-stroke: 3px white;
	font: bold 450%/100%  Kristen ITC, Sans-Serif;
}






